/* Style the tab */
.tab {
    overflow: hidden;
    margin-left: 155px;
margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-weight: normal;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 600;
    text-align: center;
    color: #595a5a;
    border-right:2px solid #6c757d;
    border-bottom:2px solid #6c757d;
    border-radius: 3px;
    background: #fff;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
/* Change background color of buttons on hover */
.tab button:hover {
    color: red;
    background: #9fcdff;

}

/* Create an active/current tablink class */
.tab button.active {
    color: red  ;
    background: #9fcdff;

}

.tabsub{
    overflow: hidden;
    margin-left: 144px;
    margin-top: 0px;
    padding-top: 0px;
}
.tabsub button{
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-weight: normal;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 600;
    text-align: center;
    color: #595a5a;
    border-radius: 4px;
    background: #fff;
    border-right:2px solid #6c757d;
    border-bottom:2px solid #6c757d;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;

}

/* Change background color of buttons on hover */
.tabsub button:hover {
    color: red;
    background: #9fcdff;
}

/* Create an active/current tablink class */
.tabsub button.active {
    color: red;
    background: #9fcdff;

}



/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 12px;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {color: red;}
#content3{
   margin-top: 0px;
    padding-top: 10px;
}
.banner-info{
    float: bottom;
}
