body{
    padding: 0px;
    margin: 0px;
    font-family: Tahoma;
    background: #B3B3B3;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


/*.phone, .birthday,.address{*/
/*    justify-content: start;*/
/*}*/

.title{
    width: 150px;
}
#form{
    margin: auto;
    width: 70%;
    height: 400px;
    background: #FFFFFF;
    font-size: 15px;
    border-radius: 5px;
}
.form{
    margin-left: 30px;

}


.br{
    background-color: #EDEDED;
    width: 90%;
    height: 3px;
    margin-top: 17px;
}

.titles{
    width: 250px;
    padding:10px 20px 10px 20px;
}
.containers{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CCCCCC;
    padding: 20px;

}
.input_colum1{
    margin-right: 40px;
}
#input{
    padding-top: 5px;
    height: 120px;
}

.text{
    float: left;
}
.tr{
    margin: 0px 10px 0px 10px;
}
.button{
    border-radius: 5px;
    float: right;
    margin: 0px 40px;
    width: 10%;
}
.add_but{
    border-radius: 5px;
    margin: 0px 40px;
    width: 10%;
}
.delete,.edit,.button,.add_but{
    background: #4cae4c;
    height: 30px;
}
.delete,.add_but,.edit:hover,.button:hover{
    background: #3c763d;
}
table{
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.add{
    float: left;
}
.input_field{
    border-radius: 5px;
    border: 1px solid #B3B3B3;
    width: 60%;
}