* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    height: 50px;
    margin-top: 10px;
}

.header .logo img {
    width: 130px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header .search {
    height: 100%;
    display: flex;
    margin-top: 10px;
}

.header .search input {
    width: 90%;
    display: flex;
    height: 30px;
    justify-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.header .cart {
    color: #ff3f00;
    height: 100%;
    margin-top: 17px;
}

.input-icon {
    position: absolute;
    top: 15%;
    right: 14%;
}

.body, .footer {
    width: 80%;
    background: rgba(179, 179, 179, 0.2);
    margin-left: 5.4%;
}
.book-zone ul{
    list-style: none;
}
.book-zone{
    padding-bottom: 20px;
}
.book-zone img{
    margin-left: auto;
    margin-right: auto;
    margin-left: 15%;
}
.book-zone li{
    margin-top: 10px;
}
.book-zone ul .col-sm-3{
    margin-left: 6%;
}
.about-book{
    float: none;
    margin-left: 15%;
}
.about-book a{
    color: red;
    font-size: 15px;
}
.about-book p{
    color: #847f7c;
    font-size: 15px;
}
.star li{
    float: left;
    margin-top: 0;
    margin-right: 2px;
}
.footer {
    border-top: 1px solid #B3B3B3;
    height: 120px;
}
.footer-content{
    height: 90%;
}
.footer .logo-footer {
    margin-left: 20px;
    margin-top: 10px;
}

.footer .contact {
    margin-top: 10px;
}

.footer .social {
    margin-top: 30px;
    height: 100%;
}

.footer .social ul {
    list-style: none;
}

.footer .social ul li {
    float: left;
    margin-right: 15px;
}
.ship-code{
    margin-top: 20px;
}
.ship-code ul{
    list-style: none;
}
.ship-code ul li{
    margin-bottom: 10px;
}
.copyright{
    height: 20%;
    background: #e0e0e0;
    margin: 0;
    text-align: right;
    padding-right: 10px;

}
