
body{
    font-family: Tahoma;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}
.header{
    height: 50px;
    background: #F7B45D;
}
.header img{
    height: 50px;
}
.banner{
    padding-left: 25%;
    vertical-align: center;
}
.content{
    width: 60%;
    height: 360px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
.img{
    padding-top: 30px;
    padding-left: 20px;
}
.img img{
    border: 1px solid #eeeeee;

}
.more_img ul li{
    list-style: none;
    float: left;
    margin-right: 10px;
    border: 1px solid #eeeeee;


}
.price{
    font-size: 16px;
    font-weight: bold;
    color: #B3B3B3;
}
.root_price{
    font-size: 12px;
    font-weight: lighter;
    text-decoration: line-through;
}
.line{
    background: #B3B3B3;
    width: 100%;
    height: 1px;
    margin-top: 20px;
}
.amount{
    height: 60px;
    padding-top: 20px;
}
.left{
    float: left;
    width: 25%;
}
.mid{
    float: left;
    width: 20%;
    line-height: 5px;
}
.mid input{
    width: 30px;
    text-align: center;
}
.right{
    width: 35%;
    float: left;
}
.right .but{
    background: #ecaa1a;
    color: #FFFFFF;
    font-weight: normal;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
.right .but:hover{
    background: #ec971f;
}
.right .but:active{
    background: #ecaa1a;
}