.why-choose-us-content {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    background-color: #ffffff;
    padding: 80px 30px 50px;
    border-radius: 10px;
    box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
    margin-top: 50px;
    line-height: 2.5;

}
.why-choose-us-content .chosse-us-icon{
top: -80px;}
.why-choose-us-content .chosse-us-icon img{
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    height: 76px;
    width: 76px;
    display: inline-block;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: -38px;
    left: 50%;
    margin-left: -38px;
}
.why-choose-us-content .chosse-us-icon img {
    border-radius: 50%;
}