#tab section {
    padding-top: 100px;
    min-height: 600px;
}

.group-tabs a {
    color: black;
    font-size: 16px;
}

.group-tabs a:hover {
    color: #14bdee;
}

.group-tabs ul li .active {
    color: #14bdee !important;
}

.bound {
    color: black !important;
}

.dowload button {
    margin-top: 50%;
    margin-bottom: 20px;
    background: #14bdee;
    color: black;
    border: 1px solid;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group-tabs a {
    color: black !important;
}

.group-tabs a:hover {
    color: black !important;
}

.dowload button:hover {
    background: #00b2ee;
}

.dowload button:active {

    background: #14bdee;
}

.dowload .button_dow_last {
    margin-top: 20px;
    margin-bottom: 20px;
}

.but button {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #14bdee;
    color: black;
    border: 1px solid;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.but button:hover {
    background: #00b2ee;
}


.but button:active {
    background: #14bdee;
}
#design img{
    margin-bottom: 20px;
}